/* Add all your styles here */
*{
  margin:0;
  padding:0;
  font-family:Poppines;
  color:black;
}
h3,.box,.flex{
  display:flex;
  align-items:center;
  justify-content:center;
}
.c{
  border-radius:50%;
}
div.flex{
  gap:5vw;
  margin:2vw;
}
.box{
  height:15vw;
  width:15vw;
  color:white;
  font-size:5vw;
  font-weight:bold;
  border-radius:15px;
  background-color:black;
}
.circle{
  width:45vw;
  height:45vw;
  margin:3vw;
  border:1vw dotted gray;
  position:relative;
}
.whiteC{
  height:40vw;
  width:40vw;
  position:relative;
  z-index:2;
  background:conic-gradient(white,gray,white,gray,white,gray,white,gray,white);
}
.line{
  height:101%;
  width:3%;
  background-color:gray;
  position:absolute;
  right:48.5%;
  z-index:1;
}
.li{
  transform:rotate(90deg);
  right:48.8%;
}
.b{
  background-color:red;
  position:absolute;
  width:1%;
  height:50%;
  z-index:3;
  top:0;
  border-radius:10px;
  transform-origin:bottom;
  //transition:All 1s linear;
}
.indH{
  width:3%;
  height:35%;
  top:15%;
  background-color:black;
}
.indM{
  width:2%;
  height:40%;
  top:10%;
  background-color:black;
}
.dot{
  width:3vw;
  height:3vw;
  top:47%;
  z-index:10;
  position:absolute;
  background-color:darkgray;
}
.num{
  position:absolute;
  z-index:20;
  font-weight:bold;
  font-size:4vw;
}
.date,.day{
  position:absolute;
  height:3.5vw;
  width:12vw;
  z-index:2;
  right:12%;
  bottom:42%;
  color:white;
  font-size:2vw;
  border-radius:10px;
  background-color:#333;
}
.day{
  top:42%;
}
.ana2{
 height:50vw;
 width:95vw;
 margin:auto;
 position:relative;
}
.ana2 .c:nth-child(n){
  transition:all 1s linear;
  position:absolute;
}
.ana2 .c:nth-child(1){
  width:50vw;
  height:50vw;
  background-color:gray;
  border:2px outset black;
  box-shadow:2px 2px 8px inset black;
}
.ana2 .c:nth-child(2){
  width:40vw;
  height:40vw;
  background-color:crimson;
  box-shadow:1px 1px 6px black;
}
.ana2 .c:nth-child(3){
  width:30vw;
  height:30vw;
  background-color:white;
  box-shadow:1px 1px 6px inset black;
}

.indicator{
  height:2vw;
  width:20%;
  right:20%;
  position:absolute;
  border:2px solid black;
  border-radius:20px 0 0 20px;
}
.num2{
  position:absolute;
  font-weight:bold;
  font-size:1vw;
  color:white;
}
.boox {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    position: relative;
    overflow: hidden;
    margin: 50px auto;
}

.rotating-element {
    width: 50px;
    height: 50px;
    background-color: blue;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.5s;
}

